@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h4>Studio</h4>
                @if (ViewData["Studios"] != null && (ViewData["Studios"] as List<MvcMovie.Models.Studio>).Count > 0) {
                    @foreach (var studio in ViewData["Studios"] as List<MvcMovie.Models.Studio>) {
                        <div class="form-check">
                            <input type="radio" class="form-radio-input" name="Studio" value="@studio.Id">
                            <label class="form-radio-label" for="@studio.Id">@studio.Name</label>
                        </div>
                    }
                } else {
                    <p>Adicione estúdios.</p>
                }
                
            </div>
            <div class="form-group">
                <h4>Artists</h4>
                @if (ViewData["Artists"] != null && (ViewData["Artists"] as List<MvcMovie.Models.Artist>).Count > 0) { // Check if ViewData["Artists"] is not null
                    @foreach (var artist in ViewData["Artists"] as List<MvcMovie.Models.Artist>) {
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="Artists" value="@artist.Id">
                            <label class="form-check-label" for="@artist.Id">@artist.Name</label>
                        </div>
                    }
                } else {
                    <p>Adicione artistas.</p>
                }
                
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
